/*Reset styles*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

/*Reset styles*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 300ms;
  transition: all 300ms; }

html {
  font: 16px "Trebuchet MS"; }

#header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 35px; }
  @media screen and (max-width: 1345px) {
    #header {
      padding: 15px 20px; } }
  @media screen and (max-width: 1195px) {
    #header {
      padding: 15px 40px; } }
  @media screen and (max-width: 850px) {
    #header {
      padding: 5px 40px; } }
  @media screen and (max-width: 425px) {
    #header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

#hero {
  position: relative;
  padding-top: 285px;
  text-align: center;
  background: #fff url("../img/hero-bg.jpg") no-repeat center center;
  background-size: cover; }
  @media screen and (max-width: 1200px) {
    #hero {
      padding-top: 205px; } }
  @media screen and (max-width: 850px) {
    #hero {
      padding-top: 125px; } }
  #hero::before {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #fff;
    opacity: .8; }

#about-me {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 250px;
  padding-right: 35px;
  padding-left: 35px; }
  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    #about-me {
      padding-top: 150px; } }
  @media screen and (max-width: 425px) {
    #about-me {
      padding: 250px 10px 0; } }
  @media screen and (max-width: 1023px) {
    #about-me .information {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  #about-me .information h2 {
    margin-bottom: 130px; }
    @media screen and (max-width: 1290px) {
      #about-me .information h2 {
        margin-bottom: 70px; } }
    @media screen and (max-width: 1100px) {
      #about-me .information h2 {
        margin-bottom: 40px; } }
    @media screen and (max-width: 1024px) {
      #about-me .information h2 {
        margin-bottom: 30px; } }
    @media screen and (max-width: 768px) {
      #about-me .information h2 {
        padding: 10px 20px;
        font-size: 3.5vmax;
        background: rgba(255, 255, 255, 0.8); } }
  #about-me .information h3 {
    max-width: 720px;
    margin-bottom: 60px;
    color: #d4b9bb; }
    @media screen and (min-width: 1440px) {
      #about-me .information h3 {
        font-size: 56px; } }
    @media screen and (max-width: 1100px) {
      #about-me .information h3 {
        line-height: 50px; } }
    @media screen and (max-width: 1024px) {
      #about-me .information h3 {
        margin-bottom: 30px; } }
    @media screen and (max-width: 1023px) {
      #about-me .information h3 {
        max-width: 520px;
        text-align: right;
        background: rgba(255, 255, 255, 0.8); } }
    @media screen and (max-width: 768px) {
      #about-me .information h3 {
        padding: 0 20px;
        font-size: 2.5vmax;
        line-height: 40px; } }
  #about-me .information h3 span {
    color: #837880; }
  #about-me .information p {
    margin-bottom: 85px;
    color: #837880;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; }
    @media screen and (max-width: 1200px) {
      #about-me .information p {
        margin-bottom: 40px;
        font-size: 16px; } }
    @media screen and (max-width: 1023px) {
      #about-me .information p {
        background: rgba(255, 255, 255, 0.6); } }
    @media screen and (max-width: 768px) {
      #about-me .information p {
        line-height: 25px; } }
  #about-me .information .btn {
    margin: auto; }

#service {
  padding: 250px 35px 0 35px;
  text-align: center; }
  @media screen and (max-width: 1400px) {
    #service {
      padding-top: 150px; } }
  @media screen and (max-width: 768px) {
    #service {
      padding-top: 80px; } }
  @media screen and (max-width: 425px) {
    #service {
      padding: 50px 10px 0; } }
  #service h2 {
    margin-bottom: 80px; }
  #service p {
    max-width: 887px;
    max-width: 887px;
    margin: 0 auto 100px;
    color: #837880;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; }
    @media screen and (max-width: 1200px) {
      #service p {
        font-size: 16px; } }
    @media screen and (max-width: 850px) {
      #service p {
        margin-bottom: 60px; } }
    @media screen and (max-width: 768px) {
      #service p {
        line-height: 25px; } }

#news {
  padding: 250px 35px 0 35px; }
  @media screen and (max-width: 1400px) {
    #news {
      padding-top: 150px; } }
  @media screen and (max-width: 768px) {
    #news {
      padding-top: 80px; } }
  @media screen and (max-width: 425px) {
    #news {
      padding: 50px 10px 0; } }
  #news h2 {
    margin-bottom: 70px;
    text-align: center; }
    @media screen and (max-width: 425px) {
      #news h2 {
        margin-bottom: 90px !important; } }
  #news .btn {
    display: block;
    margin: auto; }

#partner {
  padding: 250px 35px 0 35px; }
  @media screen and (max-width: 1400px) {
    #partner {
      padding-top: 150px; } }
  @media screen and (max-width: 768px) {
    #partner {
      padding-top: 80px; } }
  @media screen and (max-width: 425px) {
    #partner {
      padding: 50px 10px 0; } }
  #partner h2 {
    margin-bottom: 130px;
    text-align: center; }
  #partner .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 75px; }
    @media screen and (max-width: 768px) {
      #partner .information {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  #partner h3 {
    position: relative;
    top: -15px;
    margin-right: 55px; }
    @media screen and (min-width: 1200px) {
      #partner h3 {
        font-size: 56px; } }
    @media screen and (max-width: 768px) {
      #partner h3 {
        margin-right: 0;
        font-size: 35px;
        text-align: center; } }
  #partner p {
    color: #837880;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; }
    @media screen and (max-width: 1200px) {
      #partner p {
        font-size: 16px; } }
    @media screen and (max-width: 768px) {
      #partner p {
        line-height: 25px; } }
  #partner .btn {
    display: block;
    margin: auto; }

footer {
  padding: 250px 35px 0 35px;
  padding-bottom: 50px; }
  @media screen and (max-width: 1400px) {
    footer {
      padding-top: 150px; } }
  @media screen and (max-width: 768px) {
    footer {
      padding-top: 80px; } }
  @media screen and (max-width: 425px) {
    footer {
      padding: 50px 10px 10px; } }
  footer h2 {
    margin-bottom: 130px;
    text-align: center;
    text-align: center; }
    @media screen and (max-width: 425px) {
      footer h2 {
        margin-bottom: 90px !important; } }
    @media screen and (max-width: 1024px) {
      footer h2 {
        margin-bottom: 80px; } }
  footer .information {
    margin-right: 100px; }
    @media screen and (max-width: 1024px) {
      footer .information {
        margin-right: 0;
        margin-bottom: 40px; } }
  footer h3 {
    margin-bottom: 40px; }
    @media screen and (max-width: 1440px) {
      footer h3 {
        line-height: 55px; } }
    @media screen and (min-width: 1200px) {
      footer h3 {
        font-size: 56px; } }
    @media screen and (max-width: 768px) {
      footer h3 {
        margin-right: 0;
        font-size: 35px;
        text-align: center; } }
  footer form {
    position: relative;
    height: 500px;
    min-width: 60%;
    padding: 50px;
    border: 1px solid rgba(131, 120, 128, 0.5); }
  footer form input {
    font-size: 20px;
    background: none;
    outline: none; }
  footer form p {
    position: absolute; }
  footer form .row-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      footer form .row-1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media screen and (max-width: 768px) {
      footer form .row-1 .input-with-text {
        margin-bottom: 40px; } }
  footer .input-with-text {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 30px; }
    @media screen and (max-width: 768px) {
      footer .input-with-text {
        margin-right: 0;
        margin-bottom: 40px; } }
    footer .input-with-text p {
      position: absolute;
      top: -5px;
      z-index: -1;
      color: #d4b9bb;
      font-family: "Montserrat";
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase; }
    footer .input-with-text input {
      z-index: 5;
      width: 100%; }
    footer .input-with-text:last-child {
      margin-right: 0; }
  footer .input-with-text input:focus + p {
    top: -25px; }
  footer form .row-2 {
    padding-top: 85px; }
    footer form .row-2 .input-with-text {
      margin-right: 0; }
  footer form input {
    border: none;
    border-bottom: 1px solid rgba(131, 120, 128, 0.5); }
  footer form .btn {
    position: absolute;
    right: 50px;
    bottom: 50px; }
    @media screen and (max-width: 768px) {
      footer form .btn {
        right: 50%;
        -webkit-transform: translateX(50%);
                transform: translateX(50%); } }
  footer form .message-input {
    width: 100%; }
  footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 1024px) {
      footer .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center; } }
  footer .information p {
    color: #837880;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; }
    @media screen and (max-width: 1200px) {
      footer .information p {
        font-size: 16px; } }
    @media screen and (max-width: 768px) {
      footer .information p {
        line-height: 25px; } }

.btn {
  width: 12em;
  padding: 1.2em 0;
  color: #d4b9bb;
  font-family: "Montserrat";
  font-size: 24px;
  text-transform: uppercase;
  background: none;
  border: 0;
  border-top: 1px solid rgba(209, 180, 182, 0.5);
  border-bottom: 1px solid rgba(209, 180, 182, 0.5);
  outline: none;
  cursor: pointer; }
  @media screen and (max-width: 1440px) {
    .btn {
      font-size: 18px; } }
  @media screen and (max-width: 1240px) {
    .btn {
      font-size: 15px; } }

.btn-hero {
  position: relative;
  width: 12.5em;
  padding: 1.1em 0;
  margin-bottom: 200px;
  color: #837880;
  font-family: "Montserrat";
  font-size: 24px;
  text-transform: uppercase;
  background: none;
  border: 0;
  border-top: 2px solid rgba(131, 120, 128, 0.5);
  border-bottom: 2px solid rgba(131, 120, 128, 0.5);
  outline: none;
  cursor: pointer; }
  @media screen and (max-width: 1200px) {
    .btn-hero {
      margin-bottom: 120px;
      font-size: 18px; } }
  @media screen and (max-width: 850px) {
    .btn-hero {
      margin-bottom: 60px;
      font-size: 15px; } }
  @media screen and (max-width: 550px) {
    .btn-hero {
      font-size: 13px; } }

#mobile-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-right: 1px solid #d4b9bb; }
  @media screen and (min-width: 850px) {
    #mobile-menu {
      display: none; } }
  #mobile-menu h2 {
    padding: 10px 0;
    margin-bottom: 0;
    color: #d4b9bb;
    font-family: "Montserrat";
    font-size: 25px;
    text-align: center; }
  #mobile-menu a {
    position: relative;
    z-index: 5;
    padding: 20px 15px;
    color: #837880;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }
  #mobile-menu a:hover {
    color: #fff; }
  #mobile-menu a::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 0;
    height: 100%;
    content: "";
    background-color: #837880;
    -webkit-transition: 300ms;
    transition: 300ms;
    opacity: .2; }
  #mobile-menu a:hover::before {
    width: 100%;
    opacity: .6; }

#desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 180px; }
  @media screen and (max-width: 1500px) {
    #desktop-menu {
      margin-right: 80px; } }
  @media screen and (max-width: 850px) {
    #desktop-menu {
      display: none; } }
  #desktop-menu a {
    height: 100%;
    margin-right: 60px;
    color: #837880;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }
    @media screen and (max-width: 1345px) {
      #desktop-menu a {
        margin-right: 40px;
        font-size: 16px; } }
    @media screen and (max-width: 1090px) {
      #desktop-menu a {
        font-size: 15px; } }
    @media screen and (max-width: 965px) {
      #desktop-menu a {
        margin-right: 30px;
        font-size: 14px; } }
  #desktop-menu a:last-child {
    margin-right: 0; }
  #desktop-menu a::after {
    display: block;
    width: 0;
    height: 1px;
    margin-top: 5px;
    content: "";
    background-color: #d4b9bb;
    -webkit-transition: 300ms;
    transition: 300ms; }
  #desktop-menu a:hover::after {
    width: 100%; }
  #desktop-menu a:hover {
    color: #d4b9bb; }

h1 {
  position: relative;
  padding: 0 10px;
  margin-bottom: 110px;
  color: #837880;
  font-family: "Playfair Display", serif;
  font-size: 4.7vmax;
  font-weight: 400; }
  @media screen and (max-width: 550px) {
    h1 {
      margin-bottom: 60px; } }

h2 {
  color: #d4b9bb;
  font-family: "Playfair Display", serif;
  font-size: 4.8vw;
  font-weight: 400;
  letter-spacing: 1.17px;
  text-transform: uppercase; }
  @media screen and (min-width: 1440px) {
    h2 {
      font-size: 72px; } }
  @media screen and (max-width: 768px) {
    h2 {
      margin-bottom: 50px;
      font-size: 35px; } }

h3 {
  color: #837880;
  font-family: "Playfair Display", serif;
  font-size: 5.5vw;
  font-weight: 400;
  line-height: 66px; }
  @media screen and (min-width: 1200px) {
    h3 {
      font-size: 56px; } }
  @media screen and (max-width: 768px) {
    h3 {
      margin-right: 0;
      font-size: 35px;
      text-align: center; } }
  @media screen and (max-width: 768px) {
    h3 {
      line-height: 45px !important; } }

.main-text {
  color: #837880;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
          transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  -webkit-transition: top 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
          transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #837880; }

.swiper-body {
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px; }
  @media screen and (max-width: 768px) {
    .swiper-body {
      margin-bottom: 40px; } }
  .swiper-body .swiper-container {
    width: 81.5%; }
    @media screen and (max-width: 1635px) {
      .swiper-body .swiper-container {
        margin-left: 0; } }
    @media screen and (max-width: 860px) {
      .swiper-body .swiper-container {
        margin: auto; } }
    @media screen and (max-width: 425px) {
      .swiper-body .swiper-container {
        width: 100%; } }
  .swiper-body .buttons-wrapper {
    position: absolute;
    top: 30%;
    right: 0; }
    @media screen and (max-width: 1635px) {
      .swiper-body .buttons-wrapper {
        position: absolute;
        right: 60px; } }
    @media screen and (max-width: 1240px) {
      .swiper-body .buttons-wrapper {
        position: absolute;
        right: 20px; } }
    @media screen and (max-width: 960px) {
      .swiper-body .buttons-wrapper {
        position: absolute;
        right: 0; } }
    @media screen and (max-width: 860px) {
      .swiper-body .buttons-wrapper {
        width: 100%; } }
    @media screen and (max-width: 425px) {
      .swiper-body .buttons-wrapper {
        top: -70px; } }
  .swiper-body .btn-swipe-next, .swiper-body .btn-swipe-prev {
    position: static !important;
    width: 130px; }
    @media screen and (max-width: 860px) {
      .swiper-body .btn-swipe-next, .swiper-body .btn-swipe-prev {
        position: absolute !important;
        -webkit-transform: translateY(50%);
                transform: translateY(50%); } }
    @media screen and (max-width: 425px) {
      .swiper-body .btn-swipe-next, .swiper-body .btn-swipe-prev {
        z-index: 5;
        width: 70px; } }
  .swiper-body .btn-swipe-next {
    margin-bottom: 20px !important;
    background: url("../img/arrow-next.png") no-repeat center center; }
    @media screen and (max-width: 860px) {
      .swiper-body .btn-swipe-next {
        right: -20px;
        margin-bottom: 0 !important;
        background: url("../img/arrow-next-mobile.png") no-repeat center center;
        border: none; } }
    @media screen and (max-width: 650px) {
      .swiper-body .btn-swipe-next {
        right: -50px; } }
    @media screen and (max-width: 425px) {
      .swiper-body .btn-swipe-next {
        right: 20px;
        background: url("../img/arrow-next-mobile.png") no-repeat 69% 49%;
        background-color: rgba(255, 255, 255, 0.8) !important;
        -webkit-box-shadow: #d4b9bb 0 0 3px;
                box-shadow: #d4b9bb 0 0 3px;
        border-radius: 4px; } }
  .swiper-body .btn-swipe-prev {
    background: url("../img/arrow-prev.png") no-repeat center center; }
    @media screen and (max-width: 860px) {
      .swiper-body .btn-swipe-prev {
        left: -20px;
        background: url("../img/arrow-prev-mobile.png") no-repeat center center;
        border: none; } }
    @media screen and (max-width: 650px) {
      .swiper-body .btn-swipe-prev {
        left: -50px; } }
    @media screen and (max-width: 425px) {
      .swiper-body .btn-swipe-prev {
        left: 20px;
        background: url("../img/arrow-prev-mobile.png") no-repeat 29% 49%;
        background-color: rgba(255, 255, 255, 0.8) !important;
        -webkit-box-shadow: #d4b9bb 0 0 3px;
                box-shadow: #d4b9bb 0 0 3px;
        border-radius: 4px; } }
  .swiper-body .swiper-slide {
    height: 230px; }

.swiper-body .item-1 .swiper-slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px; }

.swiper-body .item-1 .swiper-slide img {
  max-width: 100%; }

.swiper-body .item-2 .swiper-slide {
  position: relative;
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer; }
  .swiper-body .item-2 .swiper-slide:hover time, .swiper-body .item-2 .swiper-slide:hover p {
    color: #d4b9bb; }
  .swiper-body .item-2 .swiper-slide figcaption {
    padding-top: 30px; }
    @media screen and (max-width: 1024px) {
      .swiper-body .item-2 .swiper-slide figcaption {
        padding-top: 10px; } }
  .swiper-body .item-2 .swiper-slide div {
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    @media screen and (max-width: 1440px) {
      .swiper-body .item-2 .swiper-slide div {
        height: 350px; } }
    @media screen and (max-width: 1024px) {
      .swiper-body .item-2 .swiper-slide div {
        height: 250px; } }

.swiper-body .item-2 time {
  color: #837880;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400; }
  @media screen and (max-width: 1440px) {
    .swiper-body .item-2 time {
      font-size: 1.2vw; } }
  @media screen and (max-width: 1024px) {
    .swiper-body .item-2 time {
      font-size: 1.5vw; } }
  @media screen and (max-width: 768px) {
    .swiper-body .item-2 time {
      font-size: 12px; } }

.swiper-body .item-2 p {
  padding-top: 15px;
  color: #837880;
  font-family: "Playfair Display", serif;
  font-size: 2vw;
  font-weight: 400; }
  @media screen and (min-width: 1440px) {
    .swiper-body .item-2 p {
      font-size: 30px; } }
  @media screen and (max-width: 1024px) {
    .swiper-body .item-2 p {
      font-size: 2.2vw; } }
  @media screen and (max-width: 768px) {
    .swiper-body .item-2 p {
      font-size: 18px; } }

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 0;
  display: none;
  width: 256px;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch; }

.slideout-menu-left {
  left: 0; }

.slideout-menu-right {
  right: 0; }

.slideout-panel {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  will-change: transform; }

.slideout-open, .slideout-open body, .slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("../../icomoon/fonts/icomoon.eot");
  src: url("../../icomoon/fonts/icomoon.eot") format("embedded-opentype"), url("../../icomoon/fonts/icomoon.ttf") format("truetype"), url("../../icomoon/fonts/icomoon.woff") format("woff"), url("../../icomoon/fonts/icomoon.svg") format("svg"); }

[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon" !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: none; }

.icon-facebook:before {
  content: "\e900"; }

.icon-instagram:before {
  content: "\e901"; }

#panel {
  max-width: 1800px;
  margin: 0 auto;
  background: #fff; }
  @media screen and (min-width: 850px) {
    #panel {
      -webkit-transform: translateX(0) !important;
              transform: translateX(0) !important; } }
  #panel .toggle-button {
    position: absolute;
    display: none;
    background: none;
    border: none;
    outline: none; }
    @media screen and (max-width: 850px) {
      #panel .toggle-button {
        display: block; } }

.logo {
  margin-right: 205px;
  text-align: center; }
  @media screen and (max-width: 1500px) {
    .logo {
      margin-right: 125px; } }
  @media screen and (max-width: 1195px) {
    .logo {
      margin-right: 90px; } }
  @media screen and (max-width: 550px) {
    .logo {
      margin-right: 20px; } }
  @media screen and (max-width: 425px) {
    .logo {
      margin-right: 0;
      margin-bottom: 10px; } }
  .logo img {
    max-width: 100px;
    max-height: 100px; }
    @media screen and (max-width: 850px) {
      .logo img {
        max-width: 80px;
        max-height: 80px; } }
  .logo p {
    color: #837880;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.15px;
    letter-spacing: 1.95px; }
    @media screen and (max-width: 850px) {
      .logo p {
        font-size: 15px; } }

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px; }
  @media screen and (max-width: 1195px) {
    .language {
      margin-right: 30px; } }
  @media screen and (min-width: 850px) and (max-width: 1050px) {
    .language {
      position: absolute;
      top: 15px;
      right: 40px;
      margin: 0; } }
  @media screen and (max-width: 425px) {
    .language {
      margin-right: 0; } }
  .language a {
    position: relative;
    padding: 0 15px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }
    .language a:hover {
      color: #d4b9bb; }
    .language a::after {
      position: absolute;
      top: 10%;
      right: -3px;
      display: block;
      width: 2px;
      height: 100%;
      content: "";
      background: #837880; }
    .language a:last-child {
      padding-right: 0;
      border-right: none; }
    .language a:last-child::after {
      display: none; }
    @media screen and (max-width: 425px) {
      .language a:first-child {
        padding-left: 0;
        margin-bottom: 10px; } }
    @media screen and (max-width: 1345px) {
      .language a {
        font-size: 16px; } }
    @media screen and (max-width: 1090px) {
      .language a {
        font-size: 15px; } }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .socials a {
    margin-right: 20px;
    color: #837880;
    font-size: 25px; }
    @media screen and (max-width: 1345px) {
      .socials a {
        font-size: 23px; } }
    @media screen and (max-width: 1090px) {
      .socials a {
        font-size: 20px; } }
  .socials a:last-child {
    margin-right: 0; }
  .socials a:hover {
    color: #d4b9bb; }

.photo {
  height: 860px;
  min-width: 40%;
  margin-right: 115px;
  background: #c2c2c2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media screen and (max-width: 1290px) {
    .photo {
      height: 560px; } }
  @media screen and (max-width: 1024px) {
    .photo {
      margin-right: 30px; } }
  @media screen and (max-width: 1023px) {
    .photo {
      position: absolute;
      top: 55px;
      left: 126px;
      z-index: -1;
      height: 490px;
      margin-right: 0; } }
  @media screen and (max-width: 890px) {
    .photo {
      height: 390px; } }
  @media screen and (max-width: 768px) {
    .photo {
      right: 0;
      left: 0;
      width: 100%;
      height: 390px; } }

.offers {
  margin-bottom: 90px; }
  @media screen and (max-width: 850px) {
    .offers {
      margin-bottom: 60px; } }
  .offers .row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 85px; }
    @media screen and (max-width: 850px) {
      .offers .row {
        margin-bottom: 45px; } }
    @media screen and (max-width: 768px) {
      .offers .row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-bottom: 0; } }
  .offers .row:last-child {
    margin-bottom: 0; }
  .offers .row figure {
    text-align: center; }
  .offers figure {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    padding: 15px; }
    @media screen and (max-width: 768px) {
      .offers figure {
        width: 50%; } }
  .offers figure img {
    margin-bottom: 40px; }
    @media screen and (max-width: 1024px) {
      .offers figure img {
        height: 80px;
        max-width: 80px; } }
    @media screen and (max-width: 785px) {
      .offers figure img {
        height: 60px;
        max-width: 60px;
        margin-bottom: 20px; } }
    @media screen and (max-width: 570px) {
      .offers figure img {
        height: 50px;
        max-width: 50px; } }
    @media screen and (max-width: 425px) {
      .offers figure img {
        height: 40px;
        max-width: 50px; } }
  .offers figure figcaption {
    color: #837880;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 400; }
    @media screen and (max-width: 1440px) {
      .offers figure figcaption {
        font-size: 1.8vw; } }
    @media screen and (max-width: 1024px) {
      .offers figure figcaption {
        font-size: 2vw; } }
    @media screen and (max-width: 768px) {
      .offers figure figcaption {
        font-size: 1.8vmax; } }
