@import "base/base";
@import "layout/layout";
@import "modules/modules";
@import "vendor/vendor";
#panel {
  max-width: 1800px;
  margin: 0 auto;
  background: #fff;
  @media screen and (min-width: 850px) {
    transform: translateX(0) !important;
  }
  .toggle-button {
    position: absolute;
    display: none;
    background: none;
    border: none;
    outline: none;
    @media screen and (max-width: 850px) {
      display: block;
    }
  }
}

.logo {
  margin-right: 205px;
  text-align: center;
  @media screen and (max-width: 1500px) {
    margin-right: 125px;
  }
  @media screen and (max-width: 1195px) {
    margin-right: 90px;
  }
  @media screen and (max-width: 550px) {
    margin-right: 20px;
  }
  @media screen and (max-width: 425px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  img {
    max-width: 100px;
    max-height: 100px;
    @media screen and (max-width: 850px) {
      max-width: 80px;
      max-height: 80px;
    }
  }
  p {
    color: $light-coffee;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.15px;
    letter-spacing: 1.95px;
    @media screen and (max-width: 850px) {
      font-size: 15px;
    }
  }
}

.language {
  display: flex;
  margin-right: 80px;
  @media screen and (max-width: 1195px) {
    margin-right: 30px;
  }
  @media screen and (min-width: 850px) and (max-width: 1050px) {
    position: absolute;
    top: 15px;
    right: 40px;
    margin: 0;
  }
  @media screen and (max-width: 425px) {
    margin-right: 0;
  }
  a {
    position: relative;
    padding: 0 15px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    &:hover {
      color: $cream;
    }
    &::after {
      position: absolute;
      top: 10%;
      right: -3px;
      display: block;
      width: 2px;
      height: 100%;
      content: "";
      background: $light-coffee;
    }
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
    &:last-child::after {
      display: none;
    }
    &:first-child {
      @media screen and (max-width: 425px) {
        padding-left: 0;
        margin-bottom: 10px;
      }
    }
    @media screen and (max-width: 1345px) {
      font-size: 16px;
    }
    @media screen and (max-width: 1090px) {
      font-size: 15px;
    }
  }
}

.socials {
  display: flex;
  a {
    margin-right: 20px;
    color: $light-coffee;
    font-size: 25px;
    @media screen and (max-width: 1345px) {
      font-size: 23px;
    }
    @media screen and (max-width: 1090px) {
      font-size: 20px;
    }
  }
  a:last-child {
    margin-right: 0;
  }
  a:hover {
    color: $cream;
  }
}

.photo {
  height: 860px;
  min-width: 40%;
  margin-right: 115px;
  background: #c2c2c2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @media screen and (max-width: 1290px) {
    height: 560px;
  }
  @media screen and (max-width: 1024px) {
    margin-right: 30px;
  }
  @media screen and (max-width: 1023px) {
    position: absolute;
    top: 55px;
    left: 126px;
    z-index: -1;
    height: 490px;
    margin-right: 0;
  }
  @media screen and (max-width: 890px) {
    height: 390px;
  }
  @media screen and (max-width: 768px) {
    right: 0;
    left: 0;
    width: 100%;
    height: 390px;
  }
}

.offers {
  margin-bottom: 90px;
  @media screen and (max-width: 850px) {
    margin-bottom: 60px;
  }
  .row {
    justify-content: space-around;
    display: flex;
    margin-bottom: 85px;
    @media screen and (max-width: 850px) {
      margin-bottom: 45px;
    }
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 0;
    }
  }
  .row:last-child {
    margin-bottom: 0;
  }
  .row figure {
    text-align: center;
  }
  figure {
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 90px;
    padding: 15px;
    @media screen and (max-width: 768px) {
      width: 50%;
    }
  }
  figure img {
    margin-bottom: 40px;
    @media screen and (max-width: 1024px) {
      height: 80px;
      max-width: 80px;
    }
    @media screen and (max-width: 785px) {
      height: 60px;
      max-width: 60px;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 570px) {
      height: 50px;
      max-width: 50px;
    }
    @media screen and (max-width: 425px) {
      height: 40px;
      max-width: 50px;
    }
  }
  figure figcaption {
    color: $light-coffee;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 400;
    @media screen and (max-width: 1440px) {
      font-size: 1.8vw;
    }
    @media screen and (max-width: 1024px) {
      font-size: 2vw;
    }
    @media screen and (max-width: 768px) {
      font-size: 1.8vmax;
    }
   
  }
}
