// Footer ========== 
footer {
  padding: 250px 35px 0 35px;
  padding-bottom: 50px;
  @media screen and (max-width: 1400px) {
    padding-top: 150px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 80px;
  }
  @media screen and (max-width: 425px) {
    padding: 50px 10px 10px;
  }
  h2 {
    margin-bottom: 130px;
    text-align: center;
    text-align: center;
    @media screen and (max-width: 425px) {
      margin-bottom: 90px !important;
    }
    @media screen and (max-width: 1024px) {
      margin-bottom: 80px;
    }
  }
  .information {
    margin-right: 100px;
    @media screen and (max-width: 1024px) {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }
  h3 {
    margin-bottom: 40px;
    @media screen and (max-width: 1440px) {
      line-height: 55px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 56px;
    }
    @media screen and (max-width: 768px) {
      margin-right: 0;
      font-size: 35px;
      text-align: center;
    }
  }
  form {
    position: relative;
    height: 500px;
    min-width: 60%;
    padding: 50px;
    border: 1px solid $light-coffee-opacity;
  }
  form input {
    font-size: 20px;
    background: none;
    outline: none;
  }
  form p {
    position: absolute;
  }
  form .row-1 {
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .input-with-text {
      @media screen and (max-width: 768px) {
        margin-bottom: 40px;
      }
    }
  }
  .input-with-text {
    position: relative;
    flex-grow: 1;
    margin-right: 30px;
    @media screen and (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 40px;
    }
    p {
      position: absolute;
      top: -5px;
      z-index: -1;
      color: $cream;
      font-family: "Montserrat";
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
    }
    input {
      z-index: 5;
      width: 100%;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .input-with-text input:focus + p {
    top: -25px;
  }
  form .row-2 {
    padding-top: 85px;
    .input-with-text {
      margin-right: 0;
    }
  }
  form input {
    border: none;
    border-bottom: 1px solid $light-coffee-opacity;
  }
  form .btn {
    position: absolute;
    right: 50px;
    bottom: 50px;
    @media screen and (max-width: 768px) {
      right: 50%;
      transform: translateX(50%);
    }
  }
  form .message-input {
    width: 100%;
  }
  .row {
    display: flex;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      text-align: center;
    }
  }
  .information p {
    color: $light-coffee;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    @media screen and (max-width: 1200px) {
      font-size: 16px;
    }
    @media screen and (max-width: 768px) {
      line-height: 25px;
    }
  }
} // ==========
