// Hero section ========== 
#hero {
  position: relative;
  padding-top: 285px;
  text-align: center;
  background: #fff url("../img/hero-bg.jpg") no-repeat center center;
  background-size: cover;
  @media screen and (max-width: 1200px) {
    padding-top: 205px;
  }
  @media screen and (max-width: 850px) {
    padding-top: 125px;
  }
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #fff;
    opacity: .8;
  }
} // ==========
