// Service section ========== 
#service {
  padding: 250px 35px 0 35px;
  text-align: center;
  @media screen and (max-width: 1400px) {
    padding-top: 150px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 80px;
  }
  @media screen and (max-width: 425px) {
    padding: 50px 10px 0;
  }
  h2 {
    margin-bottom: 80px;
  }
  p {
    max-width: 887px;
    max-width: 887px;
    margin: 0 auto 100px;
    color: $light-coffee;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    @media screen and (max-width: 1200px) {
      font-size: 16px;
    }
    @media screen and (max-width: 850px) {
      margin-bottom: 60px;
    }
    @media screen and (max-width: 768px) {
      line-height: 25px;
    }
  }
} // ==========
