#mobile-menu {
  flex-direction: column;
  display: flex;
  overflow: hidden;
  border-right: 1px solid $cream;
  @media screen and (min-width: 850px) {
    display: none;
  }
  h2 {
    padding: 10px 0;
    margin-bottom: 0;
    color: $cream;
    font-family: "Montserrat";
    font-size: 25px;
    text-align: center;
  }
  a {
    position: relative;
    z-index: 5;
    padding: 20px 15px;
    color: $light-coffee;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  a:hover {
    color: #fff;
  }
  a::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 0;
    height: 100%;
    content: "";
    background-color: $light-coffee;
    transition: 300ms;
    opacity: .2;
  }
  a:hover::before {
    width: 100%;
    opacity: .6;
  }
}

#desktop-menu {
  display: flex;
  margin-right: 180px;
  @media screen and (max-width: 1500px) {
    margin-right: 80px;
  }
  @media screen and (max-width: 850px) {
    display: none;
  }
  a {
    height: 100%;
    margin-right: 60px;
    color: $light-coffee;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    @media screen and (max-width: 1345px) {
      margin-right: 40px;
      font-size: 16px;
    }
    @media screen and (max-width: 1090px) {
      font-size: 15px;
    }
    @media screen and (max-width: 965px) {
      margin-right: 30px;
      font-size: 14px;
    }
  }
  a:last-child {
    margin-right: 0;
  }
  a::after {
    display: block;
    width: 0;
    height: 1px;
    margin-top: 5px;
    content: "";
    background-color: $cream;
    transition: 300ms;
  }
  a:hover::after {
    width: 100%;
  }
  a:hover {
    color: $cream;
  }
}
